<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.member-mapper">
 <select id="memberIdCountData" resultType="int" parameterType="string">
  SELECT COUNT(*) FROM member
  WHERE id=#{id}
 </select>
 <select id="memberInfoData" resultType="MemberVO" parameterType="string">
   SELECT * FROM member
   WHERE id=#{id}
 </select>
 <!-- 
     ID                                        NOT NULL VARCHAR2(20)
	 PWD                                       NOT NULL VARCHAR2(10)
	 NAME                                      NOT NULL VARCHAR2(51)
	 SEX                                                CHAR(6)
	 birth                                           VARCHAR2(10)
	 POST                                      NOT NULL VARCHAR2(7)
	 ADDR1                                     NOT NULL VARCHAR2(150)
	 ADDR2                                              VARCHAR2(150)
	 PHONE                                              VARCHAR2(13)
	 EMAIL                                              VARCHAR2(100)
	 CONTENT                                            CLOB
	 REGDATE                                            DATE
	 ADMIN                                              CHAR(1)
  -->
  <select id="memberUpdateData" resultType="MemberVO" parameterType="string">
   SELECT id,name,sex,birth,post,addr1,addr2,phone,email,content
   FROM member
   WHERE id=#{id}
  </select>
  <insert id="memberInsert" parameterType="MemberVO">
   INSERT INTO member VALUES(
     #{id},#{pwd},#{name},#{sex},#{birth},#{email},#{phone},#{post},
     #{addr1},#{addr2},'n',#{content},SYSDATE
   )
  </insert>
  <!-- 회원 수정  -->
  <select id="memberGetPassword" resultType="string" parameterType="string">
   SELECT pwd FROM member
   WHERE id=#{id}
  </select>
  <update id="memberUpdate" parameterType="MemberVO">
   UPDATE member SET 
   name=#{name},birth=#{birth},post=#{post},
   addr1=#{addr1},addr2=#{addr2},phone=#{phone},email=#{email},
   content=#{content}
   WHERE id=#{id}
  </update>
  <select id="memberListData" resultType="MemberVO">
  	select id,name,sex,TO_CHAR(birth,'YYYY-MM-DD') as bir ,email,phone,post,addr1,NVL(addr2,' '),TO_CHAR(regdate,'YYYY-MM-DD') as reg 
  	from member where id != 'hong'
  </select>
</mapper>