<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.recipe-mapper">
	<select id="recipeHitTopData" resultType="RecipeVO">
		SELECT no , title , poster , rownum 
		FROM (SELECT no , title , poster 
				  FROM recipedetail ORDER BY hit DESC )
		WHERE rownum &lt;=12
	</select> 
	<select id="recipeLikeTopData" resultType="RecipeVO">
		SELECT no, poster, title, chef, info1, info2, info3, content, rownum 
		FROM (SELECT no, poster, title, chef, info1, info2, info3, content
		FROM recipedetail ORDER BY likecount DESC )
		WHERE rownum &lt;=9
	</select>
	<select id="recipeJjimTopData" resultType="RecipeVO">
		SELECT no , title , poster , rownum 
		FROM (SELECT no , title , poster 
				  FROM recipedetail ORDER BY jjimcount DESC )
		WHERE rownum &lt;=12
	</select>
	
	
	
	
	
  <select id="recipeListCount" resultType="int">
    SELECT COUNT(*) FROM recipe
  </select>
  <!-- 맛집 목록 출력 -->
  <select id="recipeListData" resultType="RecipeVO" parameterType="hashmap">
    SELECT no,title,poster, chef, info3, num
    FROM (SELECT no,title,poster, chef, info3, rownum as num 
    FROM (SELECT no,title,poster, chef, info3
    FROM recipedetail))
    WHERE num BETWEEN #{start} AND #{end}
  </select>
  <select id="recipeTotalPage" resultType="int">
    SELECT CEIL(COUNT(*)/20.0) FROM recipedetail
  </select>
  <!-- 맛집 상세보기 -->
  <update id="recipeHitIncrement" parameterType="int">
    UPDATE recipe SET
    hit=hit+1
    WHERE no=#{no}
  </update>
 
  <select id="recipeDetailData" resultType="RecipeVO" parameterType="int">
    SELECT no, poster, title, chef, chef_poster, chef_profile, info1, info2, info3, content, foodmake, data FROM recipedetail
    WHERE no=#{no}
  </select>



<select id="chefRecipeData" resultType="RecipeVO" parameterType="string">
		SELECT no , title , poster , chef, info3, rownum 
		FROM (SELECT no , title , poster, chef, info3
				  FROM recipedetail WHERE chef LIKE '%'||#{ress}||'%'  ORDER BY no ASC)
		WHERE rownum &lt;=12
	</select>
	<!--  맛집 찾기 -->
	<select id="recipeFindListData" resultType="RecipeVO" parameterType="hashmap">
		SELECT no , title , poster , num
		FROM (SELECT no , title , poster , rownum as num 
		FROM (SELECT /*+ INDEX_ASC(recipe RD_NO_PK)*/ no , title, poster 
		FROM recipedetail WHERE chef LIKE '%'||#{ress}||'%'))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	<select id="recipeFindTotalPage" resultType="int">
		SELECT CEIL(COUNT(*)/20.0)  
		FROM recipedetail
		WHERE title LIKE '%'||#{ress}||'%' 
	</select>
  
</mapper>