<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties"/>
	<!-- properties : 파일 읽기 : VO를 등록하여 MyBatis에서 값을 저장 -->
	<typeAliases>
	<!-- typeAliases : connection 관련 : getConnection / disConnection -->
	<typeAlias type="com.sist.vo.CampVO" alias="CampVO"/>
	<typeAlias type="com.sist.vo.MemberVO" alias="MemberVO"/>
	</typeAliases>
	<environments default="development">
	<!-- environments : 환경 설정 관련 -->
		<environment id="development">
			<transactionManager type="JDBC"/>
			<!-- transactionManager : COMMIT / ROLLBACK 관련 -->
			<dataSource type="POOLED">
			<!-- dataSource : DBCP : maxActive : 8 / maxIdle : 8 -->
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="Membername" value="${Membername}"/>
				<property name="password" value="${password}"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/sist/mapper/camp-mapper.xml"/>
		<mapper resource="com/sist/mapper/member-mapper.xml"/>
	</mappers>
</configuration>