@charset "UTF-8";
	.table_content{
		border-collapse: collapse; /* 보더라인 통합 */
		border-top-width: 2px;
		border-bottom-width: 1px;
		border-top-style: solid;
		border-bottom-style: solid;
		border-top-color: violet;
		border-bottom-color: violet;
	}
	/* 후손 + 멀티 접근 방식 => 여러개를 동시에 처리 */
	/* th, td => 공통 속성 정의 */
	.table_content th, .table_content td{
		margin: 0px;
		padding: 8px;
		font-size: 9pt;
	}
	/* th만 가지고 가는 속성 */
	.table_content th{
		background-color: #999;
		color: white;
		border-width: 1px;
	}
	/* td만 가지고 가는 속성 */
	.table_content td{
		border-bottom-width: 1px;
		border-bottom-style: dotted;
		border-bottom-color: #555;
	}
	/* 정렬 */
	.table_content .tdleft{
		text-align: left;
	}
	.table_content .tdcenter{
		text-align: center;
	}
	.table_content .tdright{
		text-align: right;
	}
	.table_content .dataTr:hover{
		cursor: pointer;
		background-color: #FC68;
	}
	.table_content a{
		color: black;
		text-decoration: none;
	}
	.table_content a:hover{
		color:palegreen;
		text-decoration: underline;
	}
	.table_content button,
	.table_content select,
	.table content input[type="text"]{
		border-radius: 10px;
	}